In [3]:
print("Hello, World!")

Hello, World!

In [2]:
print? # helper documents

In [4]:
x = 2
type(x)

int

In [5]:
x = 2.5
type(x)

float

In [6]:
x = "Data Analytic"
type(x)

str

In [7]:
x = True
type(x)

bool

In [9]:
x = 5
x == 5

True

In [10]:
x = 5
x == 7

False

In [11]:
t = True
f = False
type(t)

bool

In [12]:
t and f # Logical AND; prints "False"

False

In [13]:
t or f # Logical OR; prints "True"

True

In [14]:
not t # Logical NOT; prints "False"

False

In [15]:
not f

True

In [16]:
t != f

True

In [17]:
(x, y) = (7, 8) # with Tuples, you can create two variables at once, just as an example.
print(x)
print(y)

7
8

In [18]:
(x, y)= ([5, 3, 2], 8) # this is the same as above, but instead of defining 2 different variables, you define one list and one variable
print(x)
print(y)

[5, 3, 2]
8