### Manipulating Dataframes in Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vehicles.csv')
df.head()

## instead, if the notes are in a different folder, where vehicles doesnt exist, you could just do:
# pd.read_csv('../notes/'vehicles.csv'). Try this next time

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
df.tail()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.0,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.0,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.0,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.0,1150

In [4]:
df.columns # list all the columns we have (aka see the attributes)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

#### Renaming columns

In [5]:
df.rename(columns={'Make': 'Manufacturer'}) # remember that this looks similar to a k,v pair in a dictionary. Give it the old name and the new name!

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [6]:
df.head() # remember that similar to str.upper(), it reprints but does not permanently change the df!!

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [7]:
df = df.rename(columns={'Make': 'Manufacturer'}) # one way to redefine the df! 
df

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [8]:
df.rename(columns={'Manufacturer': 'Make'}, inplace = True) # this "inplace" tells you to perform this operation directly in place
df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [33]:
df.rename(columns={'Make': 'Manufacturer', 'Engine Displacement': 'Displacement'}, inplace = True)
df

# Here you just do two operations at once! because of inplace = True, it is permanent, not temporary.

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,17,522.764706
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,683.615385
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,555.437500
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,683.615385
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,16,555.437500
...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,36,244.000000
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,36,243.000000
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,36,244.000000
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,36,246.000000
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,35,255.000000

#### Dropping Columns

In [52]:
df.columns # view your columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'Combined MPG', 'CO2 Emission Grams/Mile'],
      dtype='object')

In [46]:
df.drop('Fuel Cost/Year', axis = 1)

# need to specify that youre working on columns, hence axis=1
# don't forget that this doesnt change it permanently, you need to either reassign, or do inplace = True!

df = df.drop('Fuel Cost/Year', axis = 1)

KeyError: "['Fuel Cost/Year'] not found in axis"

In [40]:
df = df.drop(['Highway MPG', 'City MPG'], axis = 1)

KeyError: "['Highway MPG' 'City MPG'] not found in axis"

In [36]:
df.columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'Combined MPG', 'CO2 Emission Grams/Mile'],
      dtype='object')

In [ ]:
# to get these back after being dropped, you can just RESET the dataframe be reloading the .csv file! just re-load the dataframe by running the command and rerunning the kernel. 

# if you make an error and accidentally drop something, you can just delete the cell with the error and re-run all.

#### Filtering Data

In [10]:
# subsetting! equivalent to a WHERE clause in SQL. 

df['Manufacturer']=='Ford'

# you could also do df. to call the column, but it cant handle spaces in variables!!!

# this will print a ton of booleans, where False is any other make, and True is Ford
# to show only Ford, get the entire data frame where Make = Ford:

df[df['Manufacturer']=='Ford'] 
# This will also just be temp, so you need to redefine it!

df_ford = df[df['Manufacturer']=='Ford'] 
df_ford.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [11]:
# from the original df, only rows where manufaturer is Ford and the year is 1986

df_ford_1986 = df[(df['Manufacturer']=='Ford') & (df['Year']== 1986)] ## NOTE the error message when you had '1986' as a string, because in our df, Year is an integer and NOT a string!!
df_ford_1986.head()

# if you give any conditions, you need to put them in () to show where one condition ends and the other begins! 
# also note that BECAUSE these are conditional, they separated with "&" and NOT commas!

# will be the same error as: 
# "hello" + 5 
# and "hello" + str(5)

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [12]:
df.describe() # check out the descriptive stats of your df! (this was just a sidenote)

,Year,Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

#### Calculations on Dataframes

In [33]:
df['hello'] = 'hello' # create a new column
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,hello
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,hello
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,hello
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,hello

In [36]:
# create new column 'Age'
df['Age'] = 2020 - df['Year']
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,hello,Age
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,hello,36
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,36
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,hello,35
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,35
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,hello,33

In [38]:
df['2020'] = df['Age'] + df['Year']
df.head()

# this is just to prove the point that when you do calculations on columns, you can use MULTIPLE columns to do so.

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,hello,Age,2020
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,hello,36,2020
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,36,2020
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,hello,35,2020
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,35,2020
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,hello,33,2020

#### Applying Functions to Columns

In [20]:
df.sum()

Manufacturer               AM GeneralAM GeneralAM GeneralAM GeneralASC In...
Model                      DJ Po Vehicle 2WDFJ8c Post OfficePost Office D...
Year                                                                71929756
Displacement                                                          120026
Cylinders                                                             207266
Transmission               Automatic 3-spdAutomatic 3-spdAutomatic 3-spdA...
Drivetrain                 2-Wheel Drive2-Wheel DriveRear-Wheel DriveRear...
Vehicle Class              Special Purpose Vehicle 2WDSpecial Purpose Veh...
Fuel Type                  RegularRegularRegularRegularPremiumRegularRegu...
Fuel Barrels/Year                                                     633081
Combined MPG                                                          716499
CO2 Emission Grams/Mile                                          1.70886e+07
dtype: object

In [21]:
df.sum(axis=1)

0        2549.653529
1        2716.170000
2        2583.538125
3        2717.170000
4        2588.838125
            ...
35947    2306.155833
35948    2306.155833
35949    2308.155833
35950    2311.055833
35951    2319.317429
Length: 35952, dtype: float64

In [22]:
df['Year'].sum()

71929756

In [37]:
df[['Year', 'Combined MPG']].sum()

Year            71929756
Combined MPG      716499
dtype: int64

In [38]:
columns_to_compute = ['Year', 'Combined MPG']
df[columns_to_compute].sum()

Year            71929756
Combined MPG      716499
dtype: int64

In [39]:
df[['Year', 'Combined MPG']].max()

Year            2017
Combined MPG      56
dtype: int64

In [45]:
df.sort_values? 

# look at help function to see the syntax you need! One of the first things that comes up in this help function is "by" which tells you the ARGUMENTS you NEED!!!
# if argument DOESNT have '=' it means you NEED to specifiy this, and if you dont it will error. 
# IF '=' then you can optionally speicify these values

In [44]:
df.sort_values(by = 'Year') # dont forget this doesnt change the original dataframe

df.sort_values(by = 'Year', inplace = True)

In [47]:
df.sort_values(by = ['Year', 'Combined MPG']) # you can tell it to sort by multiple columns

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
11936,Ford,E250 Econoline 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Cargo Type",Regular,36.623333,9,987.444444
11807,Ford,E150 Club Wagon 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,9,987.444444
9068,Dodge,B350 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,9,987.444444
12605,Ford,F150 Pickup 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,Standard Pickup Trucks 2WD,Regular,32.961000,10,888.700000
12825,Ford,F150 Pickup 4WD,1984,5.8,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,32.961000,10,888.700000
...,...,...,...,...,...,...,...,...,...,...,...,...
21134,Lexus,CT 200h,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,42,212.000000
6497,Chevrolet,Malibu Hybrid,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,7.165435,46,194.000000
17058,Honda,Accord Hybrid,2017,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.866875,48,183.000000
33278,Toyota,Prius,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.338654,52,171.000000
33280,Toyota,Prius Eco,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,5.885893,56,158.000000

In [48]:
df.min()

Manufacturer                    AM General
Model                      1-Ton Truck 2WD
Year                                  1984
Displacement                           0.6
Cylinders                                2
Transmission                     Auto (AV)
Drivetrain                   2-Wheel Drive
Vehicle Class                 Compact Cars
Fuel Type                              CNG
Fuel Barrels/Year                     0.06
Combined MPG                             7
CO2 Emission Grams/Mile                 37
dtype: object

In [49]:
df.max()

Manufacturer                                    smart
Model                                              xD
Year                                             2017
Displacement                                      8.4
Cylinders                                          16
Transmission                               Manual(M7)
Drivetrain                           Rear-Wheel Drive
Vehicle Class                    Vans, Passenger Type
Fuel Type                  Regular Gas or Electricity
Fuel Barrels/Year                             47.0871
Combined MPG                                       56
CO2 Emission Grams/Mile                       1269.57
dtype: object

In [50]:
df.nlargest(3, 'Year')  # this will show you the largest 3 "Year" values!!

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
7781,Chevrolet,Trax AWD,2017,1.4,4.0,Automatic (S6),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Regular,12.207778,27,334.0
18759,Infiniti,QX70 RWD,2017,3.7,6.0,Automatic (S7),Rear-Wheel Drive,Small Sport Utility Vehicle 2WD,Premium,17.347895,19,457.0
3360,Buick,Envision FWD,2017,2.5,4.0,Automatic 6-spd,Front-Wheel Drive,Small Sport Utility Vehicle 2WD,Regular,13.184400,25,356.0

In [51]:
df.nsmallest(3, 'Year')

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,17,522.764706
16337,GMC,T15 (S15) Pickup 4WD,1984,2.8,6.0,Manual 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,19.388824,17,522.764706
16336,GMC,T15 (S15) Pickup 4WD,1984,2.8,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,18.311667,18,493.722222

In [ ]:
# note: all of the above functions have been run on the entire SERIES. 
# Why does max() run on an entire series? Because the max/min/sum etc. dont make sense to only run on one value, they run on the whole series and give you the min/max/sum for EACH SERIES!!!


# there are some functions that we dont want to run on a whole series
# but we want to run on ONE element (see below) and apply it ELEMENT WISE

#### Using df.apply

In [61]:
## df['Manufacturer'].upper() 

# error: 'Series' object has no attribute 'upper'

# when we want to apply something to each element of a LIST, we use MAP. For DFs we use APPLY!!!

df['Manufacturer'].apply(str.upper) # you need to specify str here because upper only works with strings and is a METHOD, NOT a function. 

# do it with a lambda!
# df['Manufacturer'].apply(lambda x: x.upper())

0        AM GENERAL
16337           GMC
16336           GMC
5636      CHEVROLET
5637      CHEVROLET
            ...
1968            BMW
3137        BENTLEY
1965            BMW
21091    LAND ROVER
20450           KIA
Name: Manufacturer, Length: 35952, dtype: object

In [58]:
#  df['Manufacturer'].apply()

# works with lambda functions!
# replace 'a' by 'b'

df['Manufacturer'].apply(lambda x: x.replace('a', 'b'))

# this method x.replace will come in handy for data cleaning!! You will want to use df.apply() and other methods. 

# something like: .apply(lambda x: x.replace('/', '')) will replace a slash with nothing

0        AM Generbl
16337           GMC
16336           GMC
5636      Chevrolet
5637      Chevrolet
            ...
1968            BMW
3137        Bentley
1965            BMW
21091    Lbnd Rover
20450           Kib
Name: Manufacturer, Length: 35952, dtype: object

#### Dataframe Aggregation using groupby

In [ ]:
# Think about how you use GROUP BY in SQL . The logic is the same

In [63]:
df.mean()

Year                       2000.716400
Displacement                  3.338493
Cylinders                     5.765076
Fuel Barrels/Year            17.609056
Combined MPG                 19.929322
CO2 Emission Grams/Mile     475.316339
dtype: float64

In [65]:
# say we want just these descriptive stats grouped by Fuel Type
# you want one mean for each SUBGROUP (defined here by fuel type) rather than just getting one mean for the entire DF.

# df.groupby?


df.groupby(['Fuel Type']).mean()

,Year,Displacement,Cylinders,Fuel Barrels/Year,Combined MPG,CO2 Emission Grams/Mile
Fuel Type,,,,,,
CNG,2003.200000,3.963333,6.500000,0.119789,18.133333,454.976354
Diesel,1994.929748,4.188913,6.225027,17.680877,23.488474,470.905819
Gasoline or E85,2010.501255,4.465188,6.974059,19.560309,17.572385,527.444383
Gasoline or natural gas,2004.000000,4.570000,6.800000,23.725940,15.350000,638.967778
Gasoline or propane,2002.500000,5.400000,8.000000,24.720750,13.500000,666.525000
Midgrade,2014.148649,5.536486,7.864865,19.163168,17.378378,516.911921
Premium,2005.575345,3.517075,6.365286,17.852563,19.343816,481.159270
Premium Gas or Electricity,2014.470588,1.764706,4.235294,4.755412,31.647059,125.411765
Premium and Electricity,2015.700000,2.345000,4.850000,8.135294,26.300000,239.450000
Premium or E85,2012.917355,3.680992,6.892562,17.021126,20.090909,460.462355
Regular,1998.252597,3.164540,5.420952,17.467430,20.144698,470.907242
Regular Gas and Electricity,2014.625000,1.950000,4.000000,4.669536,41.937500,125.687500
Regular Gas or Electricity,2016.500000,1.500000,4.000000,2.006844,42.000000,51.000000

In [66]:
# you can do different aggregtion methods (mean, median, max, min, std dev, ETC!)
# you can also define MULTIPLE SUBGROUPS! 
# For each fuel type, group by manufactuer as well! Different levels of grouping.


df.groupby(['Fuel Type', 'Manufacturer']).mean()

                                                 Year  Displacement  \
Fuel Type                   Manufacturer
CNG                         Chevrolet     2004.400000      6.000000
                            Dodge         1998.875000      4.487500
                            Ford          2000.368421      5.063158
                            GMC           2004.500000      6.000000
                            Honda         2006.500000      1.738889
...                                               ...           ...
Regular Gas and Electricity Ford          2014.777778      2.000000
                            Honda         2014.000000      2.000000
                            Hyundai       2016.500000      2.000000
                            Toyota        2013.500000      1.800000
Regular Gas or Electricity  Chevrolet     2016.500000      1.500000

                                          Cylinders  Fuel Barrels/Year  \
Fuel Type                   Manufacturer
CNG                         Chevrolet          8.00           0.181867
                            Dodge              7.25           0.133433
                            Ford               8.00           0.138454
                            GMC                8.00           0.180833
                            Honda              4.00           0.065410
...                                             ...                ...
Regular Gas and Electricity Ford               4.00           4.801412
                            Honda              4.00           4.827657
                            Hyundai            4.00           3.858080
                            Toyota             4.00           4.739011
Regular Gas or Electricity  Chevrolet          4.00           2.006844

                                          Combined MPG  \
Fuel Type                   Manufacturer
CNG                         Chevrolet        10.400000
                            Dodge            14.250000
                            Ford             13.736842
                            GMC              10.500000
                            Honda            28.500000
...                                                ...
Regular Gas and Electricity Ford             38.444444
                            Honda            46.000000
                            Hyundai          39.500000
                            Toyota           50.000000
Regular Gas or Electricity  Chevrolet        42.000000

                                          CO2 Emission Grams/Mile
Fuel Type                   Manufacturer
CNG                         Chevrolet                  693.198000
                            Dodge                      508.590547
                            Ford                       527.726359
                            GMC                        689.259375
                            Honda                      247.532772
...                                                           ...
Regular Gas and Electricity Ford                       127.111111
                            Honda                      130.000000
                            Hyundai                    102.500000
                            Toyota                     133.000000
Regular Gas or Electricity  Chevrolet                   51.000000

[265 rows x 6 columns]

In [67]:
df.groupby(['Fuel Type'])['Cylinders'].mean()

# note that this is just df['Cylinders'].mean(), but already specifying the groupby grouping as well!
# still grouping by fuel type, but only gettings stats for cylinders.

Fuel Type
CNG                            6.500000
Diesel                         6.225027
Gasoline or E85                6.974059
Gasoline or natural gas        6.800000
Gasoline or propane            8.000000
Midgrade                       7.864865
Premium                        6.365286
Premium Gas or Electricity     4.235294
Premium and Electricity        4.850000
Premium or E85                 6.892562
Regular                        5.420952
Regular Gas and Electricity    4.000000
Regular Gas or Electricity     4.000000
Name: Cylinders, dtype: float64

In [72]:
df.groupby(['Fuel Type'])[['Cylinders', 'Combined MPG']].mean()

                             Cylinders  Combined MPG
Fuel Type
CNG                           6.500000     18.133333
Diesel                        6.225027     23.488474
Gasoline or E85               6.974059     17.572385
Gasoline or natural gas       6.800000     15.350000
Gasoline or propane           8.000000     13.500000
Midgrade                      7.864865     17.378378
Premium                       6.365286     19.343816
Premium Gas or Electricity    4.235294     31.647059
Premium and Electricity       4.850000     26.300000
Premium or E85                6.892562     20.090909
Regular                       5.420952     20.144698
Regular Gas and Electricity   4.000000     41.937500
Regular Gas or Electricity    4.000000     42.000000

In [71]:
df.groupby(['Fuel Type'])[['Cylinders', 'Combined MPG']].agg(['mean', 'max', 'min'])

# with agg() method, you can LIST all the different statistics you want to aggregate!

                            Cylinders            Combined MPG
                                 mean   max  min         mean max min
Fuel Type
CNG                          6.500000   8.0  4.0    18.133333  31   9
Diesel                       6.225027  10.0  4.0    23.488474  40  14
Gasoline or E85              6.974059   8.0  4.0    17.572385  33  11
Gasoline or natural gas      6.800000   8.0  4.0    15.350000  24  10
Gasoline or propane          8.000000   8.0  8.0    13.500000  15  12
Midgrade                     7.864865   8.0  6.0    17.378378  24  15
Premium                      6.365286  16.0  2.0    19.343816  45   7
Premium Gas or Electricity   4.235294   8.0  2.0    31.647059  39  20
Premium and Electricity      4.850000   8.0  3.0    26.300000  39  17
Premium or E85               6.892562  12.0  4.0    20.090909  27  13
Regular                      5.420952  12.0  2.0    20.144698  56   8
Regular Gas and Electricity  4.000000   4.0  4.0    41.937500  50  38
Regular Gas or Electricity   4.000000   4.0  4.0    42.000000  42  42

In [73]:
# if you want to keep your grouped df, you can RESET the index:
    
df.groupby(['Fuel Type'])[['Cylinders', 'Combined MPG']].mean().reset_index()   

# in practice, you will probably be doing this rather often! 
# like if you want KPIs by department for example.
# you will most likely be aggregating your data at a higher level ALL THE TIME, and here you have normal dfs that are easy to use in other operations!

                      Fuel Type  Cylinders  Combined MPG
0                           CNG   6.500000     18.133333
1                        Diesel   6.225027     23.488474
2               Gasoline or E85   6.974059     17.572385
3       Gasoline or natural gas   6.800000     15.350000
4           Gasoline or propane   8.000000     13.500000
5                      Midgrade   7.864865     17.378378
6                       Premium   6.365286     19.343816
7    Premium Gas or Electricity   4.235294     31.647059
8       Premium and Electricity   4.850000     26.300000
9                Premium or E85   6.892562     20.090909
10                      Regular   5.420952     20.144698
11  Regular Gas and Electricity   4.000000     41.937500
12   Regular Gas or Electricity   4.000000     42.000000

#### Merging Dataframes

In [62]:
pd.merge?