## Pandas

In [ ]:
# just like NumPy is a package, Pandas is a package. 
# panel-data (PanDa) 
# panel data is essentially data that goes into two diff. directions, e.g. different variables and diff. individuals, but for each individual you have the same variables
# library used for manipulating one- and two-dimensional data
# understand the diff. between SERIES and DATAFRAMES. 
# diff. between series and lists: series allows you to label your index to retrieve data (e.g. 0, 1, 2), while lists are automatically assigned an index and cant change
# a dataframe is a panel structure. (e.g. combining series into a dataframe)
    # Dataframes have several columns. DataFrames are only 2 Dimensional!

In [3]:
import numpy as np
import pandas as pd

In [2]:
pd?

### Data Structure 1: Series

In [5]:
np.arange(10) # gives a range of numbers of the size you define
a = pd.Series(np.arange(10)) # creates a panda series of this range 
# your series HAS TO BE capitalized

print(a)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [6]:
print(np.arange(10)) # note how the array looks different from the series!

[0 1 2 3 4 5 6 7 8 9]

In [7]:
a = pd.Series(np.arange(10))
print(a)

# The first column is the INDEX, and the second column are the actual elements of the array turned into a series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [8]:
print(a*10) # Note how the index remains the same, but the elements change

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [10]:
a[0]
a[5]

5

In [11]:
b = pd.Series(np.arange(10), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(b)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [12]:
b[5]

5

In [14]:
b['f']

5

In [15]:
mydict = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}
pd.Series(mydict)

# creating a Series from a dictionary will take the keys and use them as the index labels!

a    0
b    1
c    2
d    3
e    4
dtype: int64

### Data Structure 2: DataFrames

In [19]:
df_ser = pd.DataFrame(np.arange(10))
df_ser 

# this will give you automatically give you a structure with several columns. So even if you only create it with one variable, it will still set it up with space and labels for more

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [25]:
np.random.random((10,10))

array([[0.16689338, 0.56075752, 0.81152595, 0.21333263, 0.66899125,
        0.14342338, 0.66430376, 0.02549938, 0.68080597, 0.9500266 ],
       [0.88771005, 0.99519167, 0.2592665 , 0.38131918, 0.47815521,
        0.89595559, 0.62141875, 0.52351096, 0.4234263 , 0.46154731],
       [0.44767058, 0.40642888, 0.10655724, 0.15365101, 0.31576401,
        0.83178868, 0.57421971, 0.25414427, 0.36029437, 0.6355453 ],
       [0.91913685, 0.78004758, 0.63209561, 0.240891  , 0.49702719,
        0.47041484, 0.06220784, 0.89672777, 0.90215815, 0.53041201],
       [0.45780555, 0.83208756, 0.01644886, 0.60311388, 0.93025994,
        0.10454577, 0.97045693, 0.4864001 , 0.76902632, 0.49351752],
       [0.95110173, 0.69252606, 0.64535944, 0.50045422, 0.0609447 ,
        0.61441197, 0.4880227 , 0.26862041, 0.65830457, 0.53740746],
       [0.78789088, 0.02225823, 0.35402772, 0.76710819, 0.82284527,
        0.64313293, 0.19337625, 0.43614348, 0.86032511, 0.09955281],
       [0.53510113, 0.18276232, 0.12685792, 0.8918653 , 0.78560587,
        0.66349933, 0.48617796, 0.51841181, 0.06812629, 0.67568022],
       [0.0460066 , 0.37447552, 0.12163913, 0.81859395, 0.55689828,
        0.7772517 , 0.03447528, 0.76462971, 0.44582074, 0.78061958],
       [0.99324917, 0.71007568, 0.12793886, 0.43040973, 0.93207341,
        0.16702046, 0.56930319, 0.25276059, 0.87826819, 0.5802497 ]])

In [28]:
df = pd.DataFrame(np.random.random((10,10)))
print(df)

          0         1         2         3         4         5         6  \
0  0.013360  0.411984  0.945934  0.592301  0.886757  0.829449  0.875980
1  0.653320  0.419973  0.869720  0.500039  0.801636  0.951339  0.938133
2  0.380201  0.764579  0.560768  0.183509  0.567613  0.332942  0.129930
3  0.861834  0.487243  0.959685  0.953241  0.966356  0.070847  0.687367
4  0.599320  0.597336  0.247777  0.990503  0.898218  0.072438  0.444957
5  0.463994  0.868087  0.366859  0.649722  0.065769  0.573704  0.745826
6  0.628707  0.362503  0.449793  0.418409  0.796370  0.381030  0.067484
7  0.370904  0.162391  0.270297  0.751983  0.252118  0.528252  0.829457
8  0.523882  0.104039  0.884418  0.675294  0.282312  0.523602  0.042662
9  0.879751  0.120569  0.203997  0.239117  0.876728  0.105860  0.495872

          7         8         9
0  0.433438  0.164212  0.324072
1  0.558652  0.129287  0.023283
2  0.707081  0.456851  0.813586
3  0.107347  0.105727  0.437363
4  0.990521  0.587873  0.326005
5  0.179158  0.007308  0.861120
6  0.587000  0.151879  0.784540
7  0.952542  0.067758  0.212365
8  0.050546  0.672212  0.603090
9  0.172179  0.190102  0.555520

In [31]:
# df_col.head() # this will give you the first 5 rows of values for each column
# df_col.tail() # this will give you the last 5 rows of values for each colum 

# to get the top 3 rows of column 'Banana':
# df_col['Banana'].head(3)
# df_col['Banana'].head[3] will give you JUST the 3rd two, not the first 3 rows. Note the difference in bracket types
# df_col['Banana'][-6:-1] will give you the tail 5 of column banana (-1 index to -6 index)

### converting other structures to dataframes

In [32]:
mylist = [4, 5, 6, 7, 8]
pd.DataFrame(mylist, columns = ["mycolumn"])

   mycolumn
0         4
1         5
2         6
3         7
4         8

In [33]:
mydict = {"Breed": ['Cat', 'Dog', 'GuineaPig'], "Name": ['Meowy', 'Bellow', 'Carmen']}
pd.DataFrame(mydict)

       Breed    Name
0        Cat   Meowy
1        Dog  Bellow
2  GuineaPig  Carmen

In [35]:
print(pd.DataFrame.from_dict(mydict, orient='columns'))

       Breed    Name
0        Cat   Meowy
1        Dog  Bellow
2  GuineaPig  Carmen

In [36]:
print(pd.DataFrame.from_dict(mydict, orient='index')) # This will make the labeling the other way around! changing your columns to rows

           0       1          2
Breed    Cat     Dog  GuineaPig
Name   Meowy  Bellow     Carmen

In [37]:
# df_col.mean() # This will sum the column means
# df_col['Apple'].mean() you can also run mathematical operations within specific columns. 
# df_col.mean(axis=0) giving the mean of the DataFrame is the same as giving the mean of axis 0 because that is pandas default
# df_col.mean(axis=1) this will give you the means along the rows

NameError: name 'df_col' is not defined