### Importing the dataset

In [1]:
import pandas as pd
import numpy as np

In [20]:
shark_attacks = pd.read_csv('attacks.csv', encoding='latin-1') # got error code, and encoding as latin was the suggested work-around

shark_attacks.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

### Examining the data:

In [ ]:
# Do I see anything that may be problematic?

# Country capitalized
# Case number and date in diff. formats
# Locations inconsistent
# Species inconsistent, some null values
# Case Number.1 and Case Number.2 ? 
# etc.

In [23]:
shark_attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Drop columns that aren't directly relevant to analysis

In [47]:
shark_attacks.columns
# could drop 'Investigator or Source', 'pdf', 'href'

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [70]:
# shark_attacks.drop(['Investigator or Source', 'pdf', 'href'], axis=1, inplace=True)
shark_attacks

# drop 'href formula'
#shark_attacks.drop('href formula', axis=1, inplace=True)

shark_attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Case Number.1', 'Case Number.2', 'original order',
       'Unnamed: 22', 'Unnamed: 23', 'Test'],
      dtype='object')

In [55]:
# double check if Case Number.1 and Case Number.2 are identical everywhere

def is_same(row):
    if row['Case Number.1'] == row['Case Number.2']:
        return True
    else:
        return False

shark_attacks['Test'] = shark_attacks.apply(is_same, axis=1)

shark_attacks['Test'][shark_attacks['Test']==0]

# not identical everywhere. keep columns for now

34       False
117      False
144      False
217      False
314      False
         ...
25718    False
25719    False
25720    False
25721    False
25722    False
Name: Test, Length: 19441, dtype: bool

In [59]:
# double check if Unnamed: 22 and Unnamed: 23 are entirely null values
shark_attacks['Unnamed: 22'][shark_attacks['Unnamed: 22'].notnull()]

shark_attacks['Unnamed: 23'][shark_attacks['Unnamed: 23'].notnull()]
# not sure how to analyze this output. keep for now

4415             Teramo
5840    change filename
Name: Unnamed: 23, dtype: object

### Check out missing values

In [75]:
# many of the bottom rows contain missing values
# get missing values:

print(shark_attacks.isna().sum())
shark_attacks.isnull()

# huge amounts of missing values!

Case Number       17021
Date              19421
Year              19423
Type              19425
Country           19471
Area              19876
Location          19961
Activity          19965
Name              19631
Sex               19986
Age               22252
Injury            19449
Fatal (Y/N)       19960
Time              22775
Species           22259
Case Number.1     19421
Case Number.2     19421
original order    19414
Unnamed: 22       25722
Unnamed: 23       25721
Test                  0
dtype: int64

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,Test
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
25719,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
25720,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
25721,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
25722,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False

#### Find missing values as percentage of total data points:

In [78]:
shark_attacks.isna().sum()/len(shark_attacks)

# this will show you the percentage of missing values in each column
# dataset contains more null values than non-null values!

Case Number       0.661704
Date              0.755005
Year              0.755083
Type              0.755161
Country           0.756949
Area              0.772694
Location          0.775998
Activity          0.776154
Name              0.763169
Sex               0.776970
Age               0.865062
Injury            0.756094
Fatal (Y/N)       0.775959
Time              0.885394
Species           0.865335
Case Number.1     0.755005
Case Number.2     0.755005
original order    0.754733
Unnamed: 22       0.999961
Unnamed: 23       0.999922
Test              0.000000
dtype: float64

### Examining columns with inconsistent data entries

In [79]:
shark_attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,Test
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,2018.06.25,2018.06.25,6303.0,NaN,NaN,True
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,2018.06.18,2018.06.18,6302.0,NaN,NaN,True
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,2018.06.09,2018.06.09,6301.0,NaN,NaN,True
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,2018.06.08,2018.06.08,6300.0,NaN,NaN,True
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",2018.06.04,2018.06.04,6299.0,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [38]:
# Examining the 'Name' column 

shark_attacks['Name'][shark_attacks['Name']=='male']
# 550 rows include ['Name']=='male'

3       male
7       male
9       male
10      male
15      male
        ...
6273    male
6285    male
6286    male
6297    male
6301    male
Name: Name, Length: 550, dtype: object

In [40]:
# Examining the 'Name' column

shark_attacks['Name'][shark_attacks['Name']=='female']
# 97 rows include ['Name']=='female'

17      female
75      female
94      female
98      female
109     female
         ...
5453    female
5854    female
5861    female
6198    female
6223    female
Name: Name, Length: 97, dtype: object

In [41]:
# can you index a str so that it shows that the name has at least 2 elements (first, last)

In [42]:
set(shark_attacks['Name'])

{nan,
 'Noah Kalama',
 '"A" ',
 'Mark Rackley',
 'Igor Fedorov ',
 'Napoleon Doola, a  Murray Islander)',
 'Jack Dasey',
 'Bretton Russell Jones',
 'Hans Fix',
 'Jeff Justice',
 'Don Ireland',
 'Kai-tawaro',
 'Abel Mattos Antoniou Vasquez',
 'crewman from the Gedi',
 'Walter Sansoni',
 ' Braxton Rocha',
 'Tim Riley',
 'Jonathan Popper',
 '2 women',
 'Speros Gigis',
 'Carl Demers',
 'William Harns',
 'Sinking of the m.v.Leonida',
 'a local fisherman',
 'Kevin Dinneen',
 'John Sadler',
 'Liam Victor',
 'Bruce Eldridge',
 "14' catamaran, occupant: M. Leverenz",
 'ski-boat',
 "12' boat. Occupants:  Capt. E.J. Wines, Maj. W. Waller & Larry Waller",
 'Donald Hamilton',
 'Rylie Williams',
 'Noel Holliday',
 'Johan Fourie',
 'Harry M. Speerman',
 'Helga Pogl',
 'a Frenchman',
 'Zohar Kritzer ',
 'Dinghy. Occupants: Jeff Kurr and Andy Casagrande',
 'Mr. Nagib',
 'a Portuguese soldier',
 'Alan Murray',
 'an "old native"',
 'Bruce Ferguson',
 'Jere W. Fountain',
 'Aismerael Samsel',
 'German sailor',
 'Theirry Mercredi',
 'Juan & Alex Bueno',
 'Bradley Fick',
 'Philip DeBruyn',
 'Renate Seiffert',
 'one of the crew of the schooner Mary C. Brown',
 'William Muller',
 'Henry Boucher',
 'Mrs. D. F. Gunn',
 'Jason Bartholem',
 'David Carr',
 'Yitzhak Steinberg',
 'Vanda Pierri',
 'James Speirs',
 'Rev. John McMillan',
 'soldier from the Lancashire militia',
 'Stanley Caberto',
 'Steve Cloke',
 'Father Hudson',
 'Jean Alain Goenvec',
 'Noor-Mubeen Shaik',
 'Marcellus T. Abernathy, a US soldier in the 9th Coast Artillery',
 'Anton Bouwer',
 'Andy Schupe',
 'Jimmy Napeahi',
 'Ron Arney',
 'Douglas  John Spooner',
 'Eric Vaughters',
 'adult',
 'Nikki Cuomo',
 'Mr. Loloi, a constable',
 'Robert W. McGhee, Private 1st Class, 8th Infantry',
 'Arturo Velez',
 'boat, occupants: Jacob Kruger & crew',
 'A chiefess',
 'Gary Johnson',
 'Robert Bass',
 'Ruskin Vest',
 'Donald Barthman',
 'Theo Brown',
 'Michael Geraghty',
 'Adam Gray',
 'Barney Wilkes',
 '3 people',
 'Len McWhinney',
 'Robert Hall',
 'Mauricio Guzman Castaneda',
 'John Grainger Leith',
 'Robert Bartle',
 'Master Hurley',
 'Christopher Blissel',
 'T. Washington',
 'Laurence Funda',
 'Rémy Lorion',
 '6 m catamaran, occupants: Peter Robertson, Beauchamp Robertson, Gerald Spence & 3 crew',
 'Gavin Kleiden',
 'Charles T. Henderson',
 'Edward Sierks, skipper',
 'Sean Sullivan',
 'Roy T. Tanaka',
 'Stephen Wiltshire',
 'Paul Guyot',
 'Lee Kwan-seok',
 'Fiona Casey',
 'Russell  Saylor',
 'dinghy, occupants: aborigine & lighthouse keeper',
 'Jose Luis Nufize Lago',
 'Linda Ann Horton',
 "Mr. Messum's servant",
 'Kirsten Schachinger',
 'Len Kosky',
 'Richard Spence',
 'Luis Morales',
 'Sibulele Masiza',
 'Jack Mounteer',
 'Michael J. Herder',
 'John Howard',
 'Frank Ilett',
 'Jorge Garcia',
 'Randy Jordan',
 'Sub Lieut. Bowyer of H.M.S. Chile',
 'Edgar Woodley',
 'A. R. Davis',
 'Harry Bicknell',
 'The son of Rabbi East',
 'William France, a sailor from U.S. Navy vessel Saratoga',
 'S.D.',
 'Bernard Taye',
 'A. Steinstecke',
 '3.8-m boat with 3 people on board',
 'Bruce Grimes',
 'Daniel Lund',
 'Guisne Oscoto (Japanese)',
 'Tamaki Amano',
 'Keven Dolsky',
 'Lily Artavia',
 'Wayne Monk',
 'Gustavo Ramos ',
 'Daniel McMoyler',
 'Cory Hedgepeth',
 'Blake Tenville',
 'Adam Coca',
 'Llewellyn Maske',
 'Japanese seaman',
 'James Hexton, pilot',
 'Seneca Rus',
 'Wagner Cataldo-Beugleu',
 'Gianluca Ferrario ',
 'adult female (Mrs. Avery?)',
 'Stan Wing',
 'Colin Biggs',
 'Ken O\x92Connell',
 'Robert Steele',
 'Malisson Lima ',
 'A dory: occupants : 2 men',
 'Adrien Dubosc',
 'Allan Green',
 'Dev De Lange',
 'Geoffrey Walter Black',
 'Simon Parkin',
 'Reiman',
 'Kambagil, male',
 'John Willis',
 'William Stannard',
 'Noel Buxton Redfern',
 'Miss Fillardo',
 'Roniel Jacobs',
 'Robert Pamperin',
 'Robert Nicholson',
 'Stephan Kahl',
 'P. Allen',
 '3 m inflatable boat tied to buoy (no occupants)',
 'male, a Hindu confectioner',
 'George E. Rudd',
 'Leslie Nye',
 'Frederico Nóbrega (aka Derico) ',
 'James Barthy',
 'Charlie Fry',
 'Matthew Cassaigne',
 'Nicolas Virolle ',
 'Danny Hoopes',
 'Michael Pignolet',
 'Stuart Rogers',
 'James McCarroll',
 'John Wilson',
 'Nagah Attalah Al Sayed ',
 'Scott Barton',
 'Lamoman',
 'Richard Horton',
 'David Redmond',
 'C.D. Dollar',
 'Peter Curruthers',
 'Theo Watts Brown',
 'Ben Swart',
 'Melanesian woman',
 'Jakobus Christiaan Steyn',
 'Soso, a male',
 'Sam Cumiskey ',
 'Robert Conklin',
 'Thomas Loring',
 'John Hamlin',
 'Cornelius Conhlren',
 'Jack Hoey',
 'Joeli Bulu, missionary',
 'Mary Eggemeyer',
 'Omar Karim Huneidi',
 'a native',
 'U. Mataafa',
 'Mr. Cummings',
 'Kenny Alexander',
 'Robert Kay',
 'Edward Bailey',
 'Syed Khaleeulla ',
 'Shayne Calliss',
 'Brian Catarra',
 'Michael Pollard',
 'Alfred Gassman',
 'Charles Duck',
 'Samuel Tristing',
 'Cecil Smith',
 'Scott Armstrong',
 'Glenn Simpson',
 'a native fisherman',
 'James Brown',
 'Psarofa-gomenes',
 'Kaleva',
 'Bruno Junker',
 'George Lawson',
 'Marshall Flanagan',
 'Fernando Cardenas Garcia',
 'José Ricardo C. Gouveia',
 'Ricky Stringer',
 'Duffie Fryling',
 'Frans Swanepoel',
 'Claremont L. Staden',
 'Aaron Perez',
 'Ronald Kerwand',
 'inflatable dinghy, occupants: Craig Ward & Gavin John Halse',
 'Luciano Costanzo',
 'Arthur George Reading, Naval aviator',
 'Randy Weldon',
 'Leo Wohill',
 'Selwyn Doran',
 'Raymond Hemsworth',
 'Indian',
 'Edward Graham',
 'Sailor from ship Mobile',
 'Marcos Santana Silva',
 'Jason Cull',
 'Bombardier J. Hall, Private Green of the Sherwood Foresters & Captain C. O. Jennings, R.E. Anti-tank Regiment',
 'Jose Larenas-Miranda',
 'Charles Adkins',
 'Upad, a boy',
 'Jack Kardell',
 'Brian Hillenburg',
 'Alvin Lovido & John Paul Mangaoang',
 'boat, occupants:  Mr. Goslin & 4 passengers',
 '4.8-metre skiboat, Occupants: Rod Salm & 4 friends',
 'Michael Sproule',
 'Kimberly Popp',
 'Barbara Corey',
 'Christian Lombard',
 'M.M.',
 'Henry Jacobson',
 'Anthony Joyce',
 'Kamel Mustapha Ayesh',
 'Colten Cicarelli',
 'Mike Allman',
 'Occupant: Ben Stratton',
 'flat-bottomed boat',
 'Randy Hall',
 'Sam Myer',
 'Fernando Licay',
 'Sailor of tuna vessel Daisan-Tenyo-Maru',
 'Mario Castellanos',
 'occupants: John Chandler & Walter Winters',
 'Maximo Trinidad',
 'Dean Brougham',
 'Jean Hotchkiss ',
 'Father Serafin de Oliveira',
 'E. Reynolds',
 'Henry Hanson, Jr.',
 'Ho-Sin-Ming (male)',
 'Roberts',
 'Hendrie Nkwazi',
 'Bradley Adrian Smith',
 'Laurie Ross ',
 'Blaise Mosler',
 'Michael Rutzen',
 'Marin Alice Melton',
 'Barry Skinner',
 'Lowell Lutz',
 'Gladys Sackville',
 'Tevita Naborisi ',
 'Meti Kershner',
 'crew x 2',
 'Vicente Bonet',
 'W.W. Fitzsimmons',
 'David Logan',
 'Liz Rogers',
 '16-foot launch, occupants: George Casey, Jack Byrnes, Julian Reynolds & Denny Laverty',
 'James Hay',
 'Nguyen Quang Vinh ',
 'males x 5',
 '12 m fishing boat. Occupant: Henry Tervo',
 'Jonathan Mozo',
 'Glenn Henderson',
 'Nick Peterson',
 'Adam Gomes, Jr.',
 'Tony Szolomiak',
 'Takemoto Masnori',
 'Humberto Pessoa Batista',
 'Philip C. Diez',
 'Kristi Herzberg',
 'Steven Oschosky',
 'fisherman',
 "Phillip 'Flip' Steenkamp",
 'Fred Hennessee',
 'Anthony McDonald',
 'Sean Oliver',
 '9 people in the water',
 'Romeo Guarini',
 'Brendan Denton',
 'José Ivair Pereira',
 'Chad Smith',
 'Julia Anne Mittleberg',
 'Damon Kendrick',
 'Neil Drake',
 "12' dinghy",
 'Cheyne Kehoe ',
 'A visitor from Spain',
 'Brandon Chapman',
 'Ron Deguilmo',
 'George Gaspar',
 'Jeff Short',
 'Daniel Graham',
 'Warren Rathgen',
 'Liya Sibili',
 'Cornelius \x93Les\x94 Pyper',
 'Larry Bush',
 'Joanie Regan',
 'Stephen Rylor',
 'Hans Hass',
 'Eric Francis Beck',
 'Jalem',
 'Casey Stewman',
 'Brian Mills',
 "18' launch, occupants: 2 fishermen",
 'Almon Mtiyane',
 'Courtney Marcher',
 'Bruce Coucom',
 'Jack Canning',
 'a Malay diver',
 'Erik Lombard',
 'Arthur E. Taylor, a navy diver & member+G1053 of a 24-man demolition team',
 'Hawaiian boy',
 'D. Martin',
 'Samuel Barnes, a Marine',
 'Steve Posey',
 'MK',
 'Captain of cutter Hetabu',
 'Fabien Bujon',
 'Simon Bruce',
 'Ingrid Germanis',
 'Mr. Kuppasamy',
 'Harold Tait',
 'boat, occupants: Captains Charles Anderson, Emit Lindberg & Oscar Benson',
 'Frank Johnson, Jr.',
 'schoolboy, a Torres Strait Islander',
 'Laurie Boyette',
 'Matthew Honyak',
 'Adrian Bronson',
 'Rob Bruce',
 'Carlos Humberto Mendez & Esteban Robles',
 'J. Richardson',
 "Billy O'Leary",
 'Mr. N. Wright',
 'August Eichmann',
 'Charlie Gauzer',
 'Reed Richards',
 'Cliff Turner',
 'Ivo Berabi',
 'Sam Hicks, a gunner',
 'Dave Fogelberg',
 'Josh Crawford',
 'Jill Varney',
 'Paul Wilcox',
 'John P. Martin ',
 'Peter G. Hoffman',
 'Edward G. Pells',
 'Josh Halverson ',
 'Coen Marais',
 'Gabe Martino',
 'Andrew Carter',
 'Emile',
 'Andres Ferro',
 'Faarei Tuhei',
 'Michael Petas',
 'Helen Clarke',
 'Zorca Prinz',
 'Sutto Cumar Mukerjea, a.k.a. Haboo',
 'Kevin Canavan',
 'Nick Wallace',
 'Jason Noades',
 'hobiecat, occupants: Judy Lambert  & a friend',
 'Ashley Ramage',
 'Werner Bayer',
 'American University student',
 'Ronald J. Bishop',
 'Peter Gerard Spronk',
 'Egan',
 'Walter Griffin',
 'Andrew Haas',
 'Jason Barzo',
 'Mary Pound',
 'Ben Vining',
 'Graham Scott',
 'Henry Kreckman ',
 'James Edward Morgan',
 'Lioubov Kozarinova',
 'seaman',
 'Fishing boat',
 'Jordan Pavacich',
 'George Grant',
 'Otto Lee',
 'Andrew Morris',
 'Tharsys, a sponge diver',
 'Allan Ford',
 'Tyna Webb',
 'Harry Pali',
 'Brad Grissom',
 "Haumole Faing'a ",
 'Hoang Thi Thuy Hong ',
 'Albert Rebecchi',
 'Christiaan van Zyl',
 'Sammy Levine & his pet parrot',
 'Jim Scott',
 'Rupert Wade',
 'Tsang Kai-shing',
 'Zebulon Critchlow',
 'Stephen Flowers',
 'Justin White',
 'Franco Podesta',
 'David Paton',
 'Mrs. Soile Hamalainen',
 'Gerard Itema',
 'Stephen Carter',
 'Michael Massey',
 'John Petty',
 'Jei Turrell',
 'Aaron Finley',
 'Jerad Brittain',
 'Captain Masson',
 'Joshua Sumait',
 'Clarence Anglin',
 'Janelle Dickinson',
 'David Beaver',
 '8 US airmen in the water, 1 was bitten by a shark',
 'boat, occupants: 2 Jacksonville pilots',
 'Catherine Beach',
 "N'gena Zakali",
 'Jeff Horton',
 'Troy Patterson',
 'Joe Termini',
 'Tso Kam-Sun',
 'Peter Kirn',
 'David van Staden',
 'Leroy Hancock',
 'Lacy Webb',
 'Asena (female)',
 'Renagi Loi',
 'boat of Al Hattersly',
 'Jevan Wright',
 'wooden boat, occupants: Jack Bullman & Keith Campbell',
 'Jean-Francois Avenier',
 'Gordon Annison',
 'Kevin Spradlin',
 'Brad Milliken',
 'Gabriel Botha, a lifesaver',
 'Rueben',
 'Mark Marks',
 'Hamid',
 'Gerald Perez',
 'Rene Bull',
 'Tony Meehan',
 'Noel Arthy',
 'Wei Ong',
 'Philip Light',
 'Riaan van Rensburg',
 'Shannon Ainslie',
 'Dunham Coxetter',
 'Thomas (or Tony) Madison',
 'Richard Forrester',
 'Indian female',
 'Kliki Ndlazi',
 'Lydia Paulk',
 'Charlotte Brynn',
 'John Allman',
 'Verenia Keet',
 'Glenthorne Prior',
 'US Naval ensign',
 '11.6 m fibreglass boat. Occupants: Tony DeCriston & Dan Fink',
 'William P. Allen',
 'David Fellows',
 'Fijian boy',
 'Ernest. S. Baker',
 'Andy Thompson',
 'A boy, one of the crew of the ship Thomas Gelston',
 'Stuart Baddock',
 'Scott Hall',
 'Justus Franz',
 'Jake Davis',
 'Elizabeth Riggs',
 'Félix Júnior Lainez Trejos',
 'Hans Kretschmer',
 'Michael Docherty',
 'Scotty',
 'Adam Thomason',
 'Adam Johannes Kriel',
 'Dale Strand',
 'Qalo Moceyawa',
 'William Hookway',
 'Kurt Hoffman',
 'Quassa, a Torres Strait Islander',
 'James Waters',
 'Clive Dumayne',
 'Connor Lyon',
 'Douglas Kuchn, Jr.',
 "35' cruiser, Maluka II, occupants: Mr & Mrs E. Potts",
 'Albert Battles, James Dean & 4 crew',
 'LO Chiu-yang',
 'Alejandro Travaglini',
 'W. McCann',
 'Donald Fraser Huggins',
 'Nicaso Balanoba & Julian Dona',
 'Kenney',
 'Thomas Harrington',
 'Helmut Pfosse',
 'Rodney Jonklass',
 'David Nanod, Jr.',
 'Carl Holm',
 'Josh Berris',
 'Michael Loxton',
 'Aaron Shulman',
 'Henry Jones',
 'John Holmes, Jr.',
 'Marvin Estridge',
 'Roy McGuffie',
 'Naval Rating',
 'John Hayes',
 'Edward. Nolan',
 'Rodney Swan',
 'Joe Davis',
 'Robert Richard',
 'Col. Bryant',
 '5.4 m boat  ',
 'Christiaan Nel',
 'Nicholas House',
 'Ralph Sammis',
 'Duane Strosaker',
 'Matthew Barton',
 'Brian Cramer',
 'Jorge Durich Heredia (or Hernandez)',
 'Brian Henderson',
 'Carlos Frederico Gomes Martins',
 'Daniel Moore',
 'Walter Kefauver',
 'Matthew Beyrer',
 'Christine Armstrong',
 'Adam Urban ',
 "17' fishing boat; occupants 2 men",
 'Puerto Rican',
 'Tsuyoshi Takahashi',
 'Sam Smith',
 'John Fenton',
 'Nathaniel Myrick',
 'Phllip DeBruyn',
 'John C. Williams',
 'a seaman from the ship Beverly',
 'Alexey Drury',
 'Christine Kaesler',
 'Zack Davis',
 'Mirco Tapavica',
 'Marius Botha',
 'E.W. Bilton',
 'George Parkin',
 'Jonathan Genant',
 'Philip Dorn',
 'Hans Yoachim Schapper',
 'R.H. Barrett, pilot holding steering oar of whaleboat',
 'Daniel Kenny',
 'S.R.B.',
 'Frank ---',
 'occupant: child',
 'James Edward Clifton Donald',
 'Lee Fontan',
 'Danny Miskin',
 'Mira Kudlich',
 'Heinz Plotsky',
 'Les Bishop',
 'Kaugatava Orurutm',
 'Michael Murphy',
 'Kelly French',
 'Trevor Wright',
 'Bill Samsoe',
 'Robert Spratt',
 'Tommy Barilek',
 "17' boat, occupant:  Richard Wade",
 'Benan Reintegrado',
 'Masami Fukushi',
 'Frances Grause',
 'Jeff White',
 'Todd Endris',
 '2 fishermen',
 'Barry Geldenhuys',
 'mate & crew',
 'Patrick  Rooney',
 'John Carter',
 'Johannes Karl  Schultz',
 'Maurício da Silva Monteiro',
 'Servy LeRoux',
 'Mr. A. Rotaman',
 'Kuenzler',
 'Aaron Kawado',
 'Marris',
 'Erika Hailey',
 'Mr. Falah',
 'Willem Johannes Bergh',
 'Corey Brooks',
 'Steven Benham',
 'Patrick Gee',
 "17' fishing boat. Occupants, Bubba DeMaurice, his wife & daughter",
 'Joel Tatro',
 'Wyndham Kapan',
 'Olivier Bertholom',
 'Kameron Brown',
 'Jordan Springer',
 'Andrew Smith',
 'Charles Roberto Soares Veras',
 'John Ford',
 'James Ronald Mason, deckhand',
 'male from Lelepa Island',
 'Desmond Woodhams',
 'Charles A. Burke',
 'Nikky Raleigh',
 'Raymond Odell',
 'Roghai',
 'Crewman of Taiwanese tuna boat Sin Shih Ki II',
 'Jacare',
 'Josh Myers',
 'Bill Hawkins',
 "a ship's steward",
 'Andrew Houston ',
 'Jason Krafft',
 'Steve Lawson',
 'Werner Danielsen',
 'Tony Moolman and another surfer',
 'Michael Greenwood',
 'Wendell Cabunoc',
 'Mang Duc Hanh',
 'Michael Beach',
 'Tony Frost',
 ' 2 males',
 'Robert Lawton (brother & rescuer)',
 'Michael Leech',
 'Andrew Rollo',
 'Matt Wishengrad',
 'Robert Sato',
 'Philip Ashton',
 'Katherine Jones',
 'Jimmy Johnson',
 'Yeung Tam-ho (female)',
 '15-foot boat: occupant Woodrow Smith',
 'Jonathon Lee',
 'Mr. Paniry',
 'Tommy Botha',
 'Tiago José de Oliveira da Silva ',
 'Eric Aubrey',
 'An officer from H.M. Forte',
 'Joseph Lundy',
 'Margaret Cruse',
 'Peter Clarkson',
 'William Black',
 'T. Davis Bunn',
 '4 passengers frightened by shark',
 'Regan Readnour',
 'Bebe Hall',
 'Rosalida Souza',
 'James Crawford Matthews',
 'Stacie Alexander',
 'schoolboy',
 'Norman McEwan',
 'Jamie Marie Daigle ',
 '9 crewmen',
 'N.W.',
 'Richard Simpson',
 'a sailor from the U.S.S. Galveston',
 'John Williams',
 'Nickolas Doulis',
 'David Bryant',
 'Storm Portman',
 '2 people on ski',
 'Mark Majors III',
 'Douglas Bright',
 'Charles De Wet Reis',
 'Marc Fraser & Blair Fraser',
 'Mark Benvick',
 'Lance Cameron',
 'Conway Plough &  Dr. Jonathan Higgs',
 'William Burton',
 'Young Marine recruit',
 'David Lloyd',
 'Michael Dornellas',
 'Adam Wood',
 'Matthew Breen',
 'Kyle James Burden',
 'Louise Sourisseau',
 'Josh Schrutt ',
 'William Edward Brown',
 'R. Nauth',
 'Anonymous  ',
 'Dahkus, a Molussa Moro',
 'Johnny Bower',
 'Gerbacio Solano (or Salamo)',
 'a lifeguard',
 'Chris Van Niekerk',
 'Noel Cross',
 'Yusef Mohamed',
 'Armando Chavez',
 'Mr. Groves',
 'Billy Leonard',
 'John Byrne',
 'James White',
 'Ron Dubois',
 'Kaya Waldman',
 'Richard Richardson',
 "Jack O'Neill",
 'Kula',
 'F. L. Fernando',
 'Brian Dewar',
 'African slave',
 'R. Vidler',
 'John McGovern',
 'Jacob McBee',
 'William Joseph Dobson.',
 'Daniel Kennedy',
 'P. Wagener',
 '5 cadets from the Naval training ship Tingara',
 'Michael Cohen',
 'several Somali children',
 'Metuela Mau',
 'A.J. Eggink',
 'Walter L. Huges',
 'Thomas John Terrill',
 'Mehdi',
 'Lobster fishermen x 2',
 'Patrick Turowski',
 'Josh Nichtro',
 'David Anderson',
 'Abraham Yates',
 'Aaron Conti',
 'W.D. Simpson',
 'Ben McPhee',
 ' Morson Daniel',
 'Grant',
 'A Spanish fisherman',
 'Jimmy Rowe',
 'Belinda Van Schalkwyk',
 'Fishing boat  Bingo III , occupants: Michael Perkins, George Hornack & Capt. Lonergan ',
 'Jose',
 'native',
 'William Price',
 'Valerie Fortunato ',
 'Nahalehau',
 'Phil Buffington',
 'Elizabeth Schelk',
 'male, a tourist from Germany',
 'Lorenzo Kroutz ',
 'Bruna Silva Gobbi ',
 'Greenwood',
 'Alberto Caravallo Santos',
 'Jessica Vaughn',
 'Norval J. "Tom" Green',
 'Noel Feustel',
 "Michal O'Neill",
 'Robert Alexander Poultney',
 '2 males admitted to Memorial Hospital emergency room this month',
 'Harold Riley',
 'Bernard Gill',
 'Shane Garthwait',
 'Loding Etwat (female)',
 'Sue Snyder',
 'Jay Catherall ',
 'Takai Otiai',
 'Anthony Aleno',
 'Justin Lewis',
 'Joshua Bitner, Jr.',
 'John Schneider',
 'Adam Tobin',
 'Tony Hodgson',
 'Burgess & 2 seamen',
 'A. Ewen',
 'Richard  George Wilson',
 'Wiley Beevers',
 'Thomas Cargill',
 'Carol Viau',
 'Ted Nelson  onboard fishing boat Wayfarer',
 'Geoffrey Brazier',
 'Lt Cmdr. Lawrence Ernest Scheer USN, pilot',
 'Tyler McConnell',
 'Matt Hinton',
 'Karin Ulrike Stei',
 'W.R. Loesberg',
 'F.P. Jones',
 'Robert Smith',
 'Ali Ah Mat',
 'Darrel Rowe',
 'David Lonne',
 'Peter Jones',
 'Daniel Lance McNally',
 'a Samoan boy',
 'Nick   Canganelli',
 'Nicholas Vossler',
 'Leonard Higgins',
 'Niu Bodu',
 'Sarah Peggy Sargent',
 'Sargeant    H.W. Jackson',
 'Terry Cooper',
 'Jules Patterson',
 'Robert Williams',
 'Kenneth Smith',
 'Peter S. Ball',
 'Lieutenant Edward Smith',
 'Gertude Hoffman',
 'Milton Carter',
 'Horace Hewison',
 'J.P. Andrew',
 'Simon Letch',
 'Morslem Aken',
 'Vincent Motais ',
 'Albert van Ryseen',
 'Ayden Meadows',
 'Dr. Ken R. Markham',
 'Victor Mooney',
 'Darryl Kriel',
 'Jeffrey Clark',
 'Peter Willoughby',
 'Clarence Ware',
 'Franz Mayer',
 'Siara Ikui, female',
 'Al Diamond',
 'Roddy Lewis',
 'John Klaso',
 'Vinit Tantikarn',
 'merchant seaman',
 'small girl',
 'Charles H. Petty',
 'Nolan Sutliff',
 'Donald Vaughan',
 'Woody Vidgens',
 'a seaman from the Johann Brodersen',
 'Stephen',
 'Iona Asai',
 'Curran See & Harry Lake',
 'Alysha Margaret Webster',
 'Mervwyn Allum',
 'Kirk Johnston',
 'skiboat, occupant: Danie Schoeman',
 'Gabriel Alves dos Santos ',
 'Matthew Zaccaria',
 'Ryan Seacrest',
 'African child (male)',
 'Bright Cooper',
 'American aviators',
 'Becky Cooke',
 'Ahmun',
 'Albert Tyler',
 'Bryan Brock',
 'Anna Wurn',
 'Bill Curtsinger',
 'Júlio César de Barros Correia',
 'Gungor Guven',
 '2 males, aborigines',
 'Roberto Piaviali',
 'Lawyer\x92s secretary',
 'Rafael Hermes Thomas',
 'Alexandre Rassiga',
 'passenger in an automobile',
 'Megan Prescott',
 'Eric Napier Cockerill',
 'William Williams',
 'Barry Nakamura',
 'Zhang Sanqian',
 'Shane Scott',
 'Albert Buchanan',
 'José Roberto Paraizo de Albuquerque',
 'Claudio Roberto Florencio de Freitas',
 'William Connerly',
 'Jack Lopez',
 'Price Taylor',
 'Donald Bloom',
 'Robert Slatzer',
 'Chance Dean',
 'Werner Coetzee',
 'B, a young English officer',
 'Adeline Lopez',
 'Noel Yates',
 'Boat of Captain Forman White',
 ' 7.6 m motorized boat, occupants: fisherman & his son',
 'Mariel Parker ',
 'Kaitlin Dakers',
 'Wayne Leong',
 'Tim Poynter',
 'Mr. Meyer',
 'Hector Serfio Trillio Jimenez',
 'Ethan Hand',
 'Dinah Halstead',
 'William McConnell',
 'Barry  Dawson',
 'Aboriginal female',
 'Elizabeth Gardner',
 '68 people missing (crew & passengers) ',
 'Julian Elizondo',
 'Scott Hoyt',
 'Murray Taylor',
 'a pearl diver',
 '2 sailors',
 'Bob Brown',
 'H.R.W.',
 'Frank Gurran',
 'Huynh Nhu Hoang',
 'Jemmy',
 'Danny Prendgeast',
 'Terry Manuel',
 'Peter Albury',
 'Samuel, a Thursday islander',
 'Daniel Van Huysteen',
 ' Ben Tillman Homes',
 'Joseph Friedlander',

### Subsetting the dataframe into columns more relevant to analysis

In [80]:
shark_attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Case Number.1', 'Case Number.2', 'original order',
       'Unnamed: 22', 'Unnamed: 23', 'Test'],
      dtype='object')

In [83]:
attacks_sub = shark_attacks.drop(['Case Number.1', 'Case Number.2', 'Unnamed: 22', 'Unnamed: 23', 'Test'], axis=1)

In [88]:
# just a thought about what the 'original order' columns means

# set(attacks_sub['original order'])

{nan,
 nan,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0,
 100.0,
 101.0,
 102.0,
 103.0,
 104.0,
 105.0,
 106.0,
 107.0,
 108.0,
 109.0,
 110.0,
 111.0,
 112.0,
 113.0,
 114.0,
 115.0,
 116.0,
 117.0,
 118.0,
 119.0,
 120.0,
 121.0,
 122.0,
 123.0,
 124.0,
 125.0,
 126.0,
 127.0,
 128.0,
 129.0,
 130.0,
 131.0,
 132.0,
 133.0,
 134.0,
 135.0,
 136.0,
 137.0,
 138.0,
 139.0,
 140.0,
 141.0,
 142.0,
 143.0,
 144.0,
 145.0,
 146.0,
 147.0,
 148.0,
 149.0,
 150.0,
 151.0,
 152.0,
 153.0,
 154.0,
 155.0,
 156.0,
 157.0,
 158.0,
 159.0,
 160.0,
 161.0,
 162.0,
 163.0,
 164.0,
 165.0,
 166.0,
 167.0,
 168.0,
 169.0,
 170.0,
 171.0,
 172.0,
 173.0,
 174.0,
 175.0,
 176.0,
 177.0,
 178.0,
 179.0,
 180.0,
 181.0,
 182.0,
 183.0,
 184.0,
 185.0,
 186.0,
 187.0,
 188.0,
 189.0,
 190.0,
 191.0,
 192.0,
 193.0,
 194.0,
 195.0,
 196.0,
 197.0,
 198.0,
 199.0,
 200.0,
 201.0,
 202.0,
 203.0,
 204.0,
 205.0,
 206.0,
 207.0,
 208.0,
 209.0,
 210.0,
 211.0,
 212.0,
 213.0,
 214.0,
 215.0,
 216.0,
 217.0,
 218.0,
 219.0,
 220.0,
 221.0,
 222.0,
 223.0,
 224.0,
 225.0,
 226.0,
 227.0,
 228.0,
 229.0,
 230.0,
 231.0,
 232.0,
 233.0,
 234.0,
 235.0,
 236.0,
 237.0,
 238.0,
 239.0,
 240.0,
 241.0,
 242.0,
 243.0,
 244.0,
 245.0,
 246.0,
 247.0,
 248.0,
 249.0,
 250.0,
 251.0,
 252.0,
 253.0,
 254.0,
 255.0,
 256.0,
 257.0,
 258.0,
 259.0,
 260.0,
 261.0,
 262.0,
 263.0,
 264.0,
 265.0,
 266.0,
 267.0,
 268.0,
 269.0,
 270.0,
 271.0,
 272.0,
 273.0,
 274.0,
 275.0,
 276.0,
 277.0,
 278.0,
 279.0,
 280.0,
 281.0,
 282.0,
 283.0,
 284.0,
 285.0,
 286.0,
 287.0,
 288.0,
 289.0,
 290.0,
 291.0,
 292.0,
 293.0,
 294.0,
 295.0,
 296.0,
 297.0,
 298.0,
 299.0,
 300.0,
 301.0,
 302.0,
 303.0,
 304.0,
 305.0,
 306.0,
 307.0,
 308.0,
 309.0,
 310.0,
 311.0,
 312.0,
 313.0,
 314.0,
 315.0,
 316.0,
 317.0,
 318.0,
 319.0,
 320.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 332.0,
 333.0,
 334.0,
 335.0,
 336.0,
 337.0,
 338.0,
 339.0,
 340.0,
 341.0,
 342.0,
 343.0,
 344.0,
 345.0,
 346.0,
 347.0,
 348.0,
 349.0,
 350.0,
 351.0,
 352.0,
 353.0,
 354.0,
 355.0,
 356.0,
 357.0,
 358.0,
 359.0,
 360.0,
 361.0,
 362.0,
 363.0,
 364.0,
 365.0,
 366.0,
 367.0,
 368.0,
 369.0,
 370.0,
 371.0,
 372.0,
 373.0,
 374.0,
 375.0,
 376.0,
 377.0,
 378.0,
 379.0,
 380.0,
 381.0,
 382.0,
 383.0,
 384.0,
 385.0,
 386.0,
 387.0,
 388.0,
 389.0,
 390.0,
 391.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 400.0,
 401.0,
 402.0,
 403.0,
 404.0,
 405.0,
 406.0,
 407.0,
 408.0,
 409.0,
 410.0,
 411.0,
 412.0,
 413.0,
 414.0,
 415.0,
 416.0,
 417.0,
 418.0,
 419.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 425.0,
 426.0,
 427.0,
 428.0,
 429.0,
 430.0,
 431.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 437.0,
 438.0,
 439.0,
 440.0,
 441.0,
 442.0,
 443.0,
 444.0,
 445.0,
 446.0,
 447.0,
 448.0,
 449.0,
 450.0,
 451.0,
 452.0,
 453.0,
 454.0,
 455.0,
 456.0,
 457.0,
 458.0,
 459.0,
 460.0,
 461.0,
 462.0,
 463.0,
 464.0,
 465.0,
 466.0,
 467.0,
 468.0,
 469.0,
 470.0,
 471.0,
 472.0,
 473.0,
 474.0,
 475.0,
 476.0,
 477.0,
 478.0,
 479.0,
 480.0,
 481.0,
 482.0,
 483.0,
 484.0,
 485.0,
 486.0,
 487.0,
 488.0,
 489.0,
 490.0,
 491.0,
 492.0,
 493.0,
 494.0,
 495.0,
 496.0,
 497.0,
 498.0,
 499.0,
 500.0,
 501.0,
 502.0,
 503.0,
 504.0,
 505.0,
 506.0,
 507.0,
 508.0,
 509.0,
 510.0,
 511.0,
 512.0,
 513.0,
 514.0,
 515.0,
 516.0,
 517.0,
 518.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 525.0,
 526.0,
 527.0,
 528.0,
 529.0,
 530.0,
 531.0,
 532.0,
 533.0,
 534.0,
 535.0,
 536.0,
 537.0,
 538.0,
 539.0,
 540.0,
 541.0,
 542.0,
 543.0,
 544.0,
 545.0,
 546.0,
 547.0,
 548.0,
 549.0,
 550.0,
 551.0,
 552.0,
 553.0,
 554.0,
 555.0,
 556.0,
 557.0,
 558.0,
 559.0,
 560.0,
 561.0,
 562.0,
 563.0,
 564.0,
 565.0,
 566.0,
 567.0,
 568.0,
 569.0,
 570.0,
 572.0,
 573.0,
 574.0,
 575.0,
 576.0,
 577.0,
 578.0,
 579.0,
 580.0,
 581.0,
 582.0,
 583.0,
 584.0,
 585.0,
 586.0,
 587.0,
 588.0,
 589.0,
 590.0,
 591.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 597.0,
 598.0,
 599.0,
 600.0,
 601.0,
 602.0,
 603.0,
 604.0,
 605.0,
 606.0,
 607.0,
 608.0,
 609.0,
 610.0,
 611.0,
 612.0,
 613.0,
 614.0,
 615.0,
 616.0,
 617.0,
 618.0,
 619.0,
 620.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 626.0,
 627.0,
 628.0,
 629.0,
 630.0,
 631.0,
 632.0,
 633.0,
 634.0,
 635.0,
 636.0,
 637.0,
 638.0,
 639.0,
 640.0,
 641.0,
 642.0,
 643.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 649.0,
 650.0,
 651.0,
 652.0,
 653.0,
 654.0,
 655.0,
 656.0,
 657.0,
 658.0,
 659.0,
 660.0,
 661.0,
 662.0,
 663.0,
 664.0,
 665.0,
 666.0,
 667.0,
 668.0,
 669.0,
 670.0,
 671.0,
 672.0,
 673.0,
 674.0,
 675.0,
 676.0,
 677.0,
 678.0,
 679.0,
 680.0,
 681.0,
 682.0,
 683.0,
 684.0,
 685.0,
 686.0,
 687.0,
 688.0,
 689.0,
 690.0,
 691.0,
 692.0,
 693.0,
 694.0,
 695.0,
 696.0,
 697.0,
 698.0,
 699.0,
 700.0,
 701.0,
 702.0,
 703.0,
 704.0,
 705.0,
 706.0,
 707.0,
 708.0,
 709.0,
 710.0,
 711.0,
 712.0,
 713.0,
 714.0,
 715.0,
 716.0,
 717.0,
 718.0,
 719.0,
 720.0,
 721.0,
 722.0,
 723.0,
 724.0,
 725.0,
 726.0,
 727.0,
 728.0,
 729.0,
 730.0,
 731.0,
 732.0,
 733.0,
 734.0,
 735.0,
 736.0,
 737.0,
 738.0,
 739.0,
 740.0,
 741.0,
 742.0,
 743.0,
 744.0,
 745.0,
 746.0,
 747.0,
 748.0,
 749.0,
 750.0,
 751.0,
 752.0,
 753.0,
 754.0,
 755.0,
 756.0,
 757.0,
 758.0,
 759.0,
 760.0,
 761.0,
 762.0,
 763.0,
 764.0,
 765.0,
 766.0,
 767.0,
 768.0,
 769.0,
 770.0,
 771.0,
 772.0,
 773.0,
 774.0,
 775.0,
 776.0,
 777.0,
 778.0,
 779.0,
 780.0,
 nan,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 786.0,
 787.0,
 788.0,
 789.0,
 790.0,
 791.0,
 792.0,
 793.0,
 794.0,
 795.0,
 796.0,
 797.0,
 798.0,
 799.0,
 800.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 806.0,
 807.0,
 808.0,
 809.0,
 810.0,
 811.0,
 812.0,
 813.0,
 814.0,
 815.0,
 816.0,
 817.0,
 818.0,
 819.0,
 820.0,
 821.0,
 822.0,
 823.0,
 824.0,
 825.0,
 826.0,
 827.0,
 828.0,
 829.0,
 830.0,
 831.0,
 832.0,
 833.0,
 834.0,
 835.0,
 836.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 845.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 853.0,
 854.0,
 855.0,
 856.0,
 857.0,
 858.0,
 859.0,
 860.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 871.0,
 872.0,
 873.0,
 874.0,
 875.0,
 876.0,
 877.0,
 878.0,
 879.0,
 880.0,
 881.0,
 882.0,
 883.0,
 884.0,
 885.0,
 886.0,
 887.0,
 888.0,
 889.0,
 890.0,
 891.0,
 892.0,
 893.0,
 894.0,
 895.0,
 896.0,
 897.0,
 898.0,
 899.0,
 900.0,
 901.0,
 902.0,
 903.0,
 904.0,
 905.0,
 906.0,
 907.0,
 908.0,
 909.0,
 910.0,
 911.0,
 912.0,
 913.0,
 914.0,
 915.0,
 916.0,
 917.0,
 918.0,
 919.0,
 920.0,
 921.0,
 922.0,
 923.0,
 924.0,
 925.0,
 926.0,
 927.0,
 928.0,
 929.0,
 930.0,
 931.0,
 932.0,
 933.0,
 934.0,
 935.0,
 936.0,
 937.0,
 938.0,
 939.0,
 940.0,
 941.0,
 942.0,
 943.0,
 944.0,
 945.0,
 946.0,
 947.0,
 948.0,
 949.0,
 950.0,
 951.0,
 952.0,
 953.0,
 954.0,
 955.0,
 956.0,
 957.0,
 958.0,
 959.0,
 960.0,
 961.0,
 962.0,
 963.0,
 964.0,
 965.0,
 966.0,
 967.0,
 968.0,
 969.0,
 970.0,
 971.0,
 972.0,
 973.0,
 974.0,
 975.0,
 976.0,
 977.0,
 978.0,
 979.0,
 980.0,
 981.0,
 982.0,
 983.0,
 984.0,
 985.0,
 986.0,
 987.0,
 988.0,
 989.0,
 990.0,
 991.0,
 992.0,
 993.0,
 994.0,
 995.0,
 996.0,
 997.0,
 998.0,
 999.0,
 ...}