## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [47]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [48]:
sample_list_1 = random.sample(range(0, 100), k=80) # create a list with 80 random values from 0 to 100.
print(sample_list_1)

[60, 92, 13, 21, 48, 12, 63, 18, 1, 56, 45, 96, 87, 24, 27, 80, 26, 29, 5, 81, 44, 14, 77, 90, 64, 68, 7, 86, 22, 91, 41, 78, 59, 9, 3, 31, 17, 20, 84, 82, 16, 2, 51, 65, 98, 40, 55, 0, 88, 66, 39, 73, 79, 97, 99, 34, 4, 74, 50, 23, 94, 43, 15, 61, 11, 49, 8, 32, 53, 72, 83, 76, 37, 54, 33, 35, 47, 93, 57, 75]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [49]:
set1 = set(sample_list_1)
print(len(set1)) # It's length is still the same. Since the range is 0 to 100, the randomly generated elements were not replaced and reused?

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [50]:
sample_list_2 = []

for x in random.sample(range(0, 100), k=80):
    sample_list_2.append(x)
    
print(sample_list_2)

# How do I use a for loop here as the hint suggests?

[8, 63, 86, 43, 98, 7, 27, 72, 65, 41, 64, 53, 61, 78, 76, 95, 81, 60, 42, 12, 11, 68, 3, 29, 13, 85, 62, 70, 75, 97, 92, 15, 2, 96, 54, 51, 23, 73, 9, 34, 88, 99, 37, 1, 28, 45, 40, 20, 5, 83, 48, 33, 71, 56, 69, 36, 80, 30, 38, 82, 50, 16, 44, 14, 94, 67, 25, 59, 77, 32, 90, 89, 74, 4, 26, 31, 18, 47, 79, 24]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [51]:
set2 = set(sample_list_2)
print(len(set2)) # Yes the length is still 80. Same reason as above?

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [52]:
set3 = set1 - set2 # if you subtract set2 from set1, then you are also subtracting the values that are in BOTH sets (as in Venn Diagram example) 
print(set3)

{0, 66, 35, 39, 17, 49, 84, 21, 22, 55, 87, 57, 91, 93}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [53]:
set4 = set2 - set1
print(set4)

{89, 67, 36, 69, 38, 70, 71, 42, 85, 62, 25, 28, 30, 95}

In [ ]:
# Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [54]:
set5 = set1.intersection(set2) # command set1 & set2 would have given me the same outcome here
print(set5)

{1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18, 20, 23, 24, 26, 27, 29, 31, 32, 33, 34, 37, 40, 41, 43, 44, 45, 47, 48, 50, 51, 53, 54, 56, 59, 60, 61, 63, 64, 65, 68, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 88, 90, 92, 94, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [55]:
# len(set1) == len(set2) since they are both equal to randomly generated samples of 80
# len(set3) == len(set4)
# len(set5) = difference between (len(set1 or set2)) - (len(set3 or set4))

print(len(set1) == len(set2)) # should print True
print(len(set3) == len(set4)) # should print True
print(len(set5) == len(set1) - len(set3)) # should print True

True
True
True

#### Create an empty set called `set6`.

In [56]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [57]:
set6.update(set3 and set5)

#### Check if `set1` and `set6` are equal.

In [58]:
set1 == set6 


# set1 should be the same as set6, becaues set6 includes set3 (which = set1 - union) + set5 (which = union)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [59]:
# issubset method return True if all elements of a set are present in another set!

set2.issubset(set1) # should return False because set1 and set2 were two completely different sets generated

False

In [60]:
set3.issubset(set1) # should return True because set3 is all values of set1 minus the union, but still a subset

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [61]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [62]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [63]:
# Your code here